In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [10]:
# Import The CSV
tsla_data = pd.read_csv('data/TSLA.csv', index_col='Date', parse_dates=True)

In [11]:
tsla_data.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-07-09,228.970001,231.000000,227.279999,230.059998,230.059998,6190800
2019-07-10,234.149994,238.940002,233.139999,238.919998,238.919998,9145700
2019-07-11,238.139999,241.500000,235.800003,238.600006,238.600006,7514400
2019-07-12,239.750000,245.380005,239.710007,245.080002,245.080002,9200500
2019-07-15,248.000000,254.419998,244.860001,253.500000,253.500000,11000100